body { background-color: #FBF5E6; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #8B2500; font-weight: bold; text-decoration: none; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; text-decoration: underline; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
}
th {
    text-align: center;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #000;
    background: #8B2500;
    color: #FFFFFF;
}
tr {
    background: #FDFCDC;
}
td {
    text-align: center;
    padding: 6px;
    border: 1px solid #000;
}

#nav {
    float: right;
}

#head {
    text-align: left;
}
#content {
  padding-left: 15px;
}

table#transactions td:nth-child(6) {
	border-right: none;
}
table#transactions td:nth-child(7) {
	border-left: none;
	padding-left: 0px;
}

.overdue {
    color: #ff0000;
    font-weight: bold;
}

.ui-datepicker {
    background-color: #ffffff;
    border: 1px solid black;
    display: none;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    text-align: right;
    float: right;
}

.ui-datepicker-title {
    text-align: center;
}
