<h1>Skills</h1>
  
  <% @skills.each do |skill| %>
  <div class="project_entry">
  <div class="entry_options">
  <%= link_to image_tag("/images/edit.png"), edit_skill_path(skill) %> 
  <%= link_to image_tag("/images/delete.png"), skill, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <table class="red" width="400"><tr><td><%= skill.name %></td></tr></table>
  </div>
  <% end %>

<br />

<%= link_to 'New Skill', new_skill_path %>
