<h1>Labs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @labs.each do |lab| %>
  <tr>
    <td><%= link_to lab.name, lab %></td>
    <% if current_user.class_type == "Admin" %>
      <td><%= link_to 'Edit', edit_lab_path(lab) %></td>
      <td><%= link_to 'Destroy', lab, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.class_type == "Admin" %>
<%= link_to 'New Lab', new_lab_path %>
<% end %>
