<h1>Laboratories</h1>
  
  <% @labs.each do |lab| %>

  <div  class="project_entry">
  <% if current_user.administers_lab?(lab) then %>
  <div class="entry_options">
  <%= link_to image_tag("/images/edit.png"), edit_lab_path(lab) %> 
  <%= link_to image_tag("/images/delete.png"), lab, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <% end %>
  <table class="red" width="400"> 
  <tr>
      <td><%= link_to lab.name, lab %></td>
  </tr>
	</table>
		
  </div>
		
  <% end %>

<br />

<% if current_user.is_super_admin? %>
  <%= link_to 'New Lab', new_lab_path %>
<% end %>
